################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Work_Task/bin/Debug/netcoreapp3.1
